<ul>
<%= form_for @recipe do |f| %>
  <li><%= f.label :title %>
  <%= f.text_field :title %></li>
  <%= f.fields_for :ingredients do |ing| %>
    <li><%= ing.label "Ingredient"%>
    <%= ing.text_field :name %>
    <%= ing.label :quantity %>
    <%= ing.text_field :quantity %></li>
  <% end %>
  <%= f.submit %>
<% end %>
</ul>
